[submodule "TabLayoutDemo"]
	path = TabLayoutDemo
	url = https://github.com/powerfulheart/TabLayoutDemo.git
[submodule "DrawerAndTab"]
	path = DrawerAndTab
	url = https://github.com/cenoo/DrawerAndTab.git
