[submodule "TabLayoutDemo"]
	path = TabLayoutDemo
	url = https://github.com/powerfulheart/TabLayoutDemo.git
[submodule "LoadMoreListView"]
	path = LoadMoreListView
	url = https://github.com/RaphetS/LoadMoreListView.git
