/*经销商模块*/
#dealer_section {
	background: #ededed;
	padding: 10px;
	margin: 0 5%;
}
#dealer_section .name {
	color: #000000;
}
#dealer_section .address {
	height: 20px;
	color: #828282;
	margin: 0px 0 5px 0;
	vertical-align: middle;
}
#dealer_section .address img {
	width: 18px;
	height: 20px;
	margin-right: 2px;
	vertical-align: middle;
}
#dealer_section .address span {
	font-size: 15px;
	line-height: 20px;
	vertical-align: middle;
}
#dealer_section .bottom {
	width: 100%;
	height: 20px;
}
#dealer_section .phone {
	background: #39aa73;
	color: #ffffff;
	float: left;
	border-radius: 15px;
	padding: 5px 8px;
	font-size: 14px;
	line-height: 14px;
}
#dealer_section .ext {
	float: left;
	font-size: 14px;
	margin-left: 8px;
	line-height: 14px;
	margin-top: 5px;
}
#dealer_section .authentication {
	float: right;
	color: #df3031;
	font-size: 14px;
	line-height: 16px;
	margin-top: 5px;
	border-color: #e7a1a2;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	padding: 1px 3px 1px 3px;
}
/*经销商夜间*/
body.night #dealer_section .name {
	color: #999999;
}
body.night #dealer_section {
	background: #222222;
}
body.night #dealer_section .address {
	color: #666666;
}
body.night #dealer_section .phone {
	background: #1c5539;
	color: #999999;
}
body.night #dealer_section .authentication {
	color: #6f1818;
	border-color: #411e1e;
}
body.night #dealer_section .ext {
	color: #8d8d8d;
}

