<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codevscolor.materialpreference">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".activity.MaterialMainActivity"/>
        <activity android:name=".activity.BaseActivity"/>
    </application>

</manifest>
